@model IEnumerable<Common_Objects.Models.Group>
@using GridMvc.Html

@{
    ViewBag.Title = "Groups Page";
}
@using (Html.BeginForm("Index", "Group", FormMethod.Get))
{
<h3>@ViewBag.Message</h3>

<div class="panel-body" overflow:hidden">
    <div class="panel panel-primary form-horizontal" style=" width:100% !important">

        <div class="panel-heading" style="text-align: center; vertical-align: middle !important;">
            <div class="row">
                <div class="col-md-11 vcenter">
                    @Html.Label("Search Groups")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Description:")
        </div>
        <div class="col-md-3" form-group">
            <input type="text" name="SearchDescription" class="form-control" />

        </div>

    </div>
    <br />
    <div class="row">
        <div class="form-group" align="right">
            <input type="submit" id="ButtonSave" value="Search" class="btn btn-success" />
        </div>
    </div>

</div>

<div class="panel panel-primary form-horizontal" style=" width:100% !important">
    <div class="panel-heading" style="text-align: center; vertical-align: middle !important;">
        <div class="row">
            <div class="col-md-11">
                @Html.Label("Groups")
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-info pull-right" })
            </div>
        </div>
    </div>
    <div class="panel-body" style="height: 400px; overflow:hidden">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    @Html.Grid(Model).Columns(columns =>
               {
               columns.Add(x => x.Description).Titled("Description").Sortable(true);
               columns.Add(x => x.Is_Active).Titled("Is Active?").Sortable(true);
               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Edit", "Edit", new { id = d.Group_Id }, new { @class = "btn btn-success" }) </b>);
         columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Delete", "Delete", new { id = d.Group_Id }, new { @class = "btn btn-danger" }) </b>);
         }).WithPaging(5)
                </div>
            </div>
        </div>
    </div>
</div>
}