@model Common_Objects.Models.Menu_Item

@{
    ViewBag.Title = "Delete Menu Item?";
}

<h3>@ViewBag.Error</h3>

@using (Html.BeginForm())
{
    <div class="panel panel-warning">
        <div class="panel-heading" style="text-align: center">
            Are you sure you want to delete this Menu Item?
            @Html.HiddenFor(x => x.Menu_Item_Id)
        </div>
        <div class="panel-body">

            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Menu_Text, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(x => x.Menu_Text)
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Menu_Tooltip, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(x => x.Menu_Tooltip)
                    </div>
                </div>
            </div>
            
            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Container_Menu_List, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(x => x.Menu.Description)
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Parent_Menu_Item_List, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayTextFor(x => x.Parent_Menu_Item.Menu_Text)
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <input type="submit" id="ButtonSave" value="Yes" class="btn btn-success" />
            @Html.ActionLink("No", "Index", null, new { @class = "btn btn-danger" })
        </div>

    </div>
}
