@model Common_Objects.ViewModels.CYCAReportsViewModel


@*@{
    WebGrid grid = new WebGrid(source: Model.TotalProvinceAdmissionss, canSort: false);
}*@
<style>
    #gridT, #gridT tr {
        border: 1px solid #0D857B;
    }

    #nestedT, #nestedT tr {
        border: 1px solid #f3f3f3;
    }

    #nestedT {
        margin: 0px 0px 0px 10px;
        padding: 5px;
        width: 95%;
    }

        #nestedT th {
            font-size: 14px;
            font-weight: bold;
            background-color: green;
        }

    .recordHoverEffect {
        cursor: pointer;
    }

        .recordHoverEffect:hover {
            background-color: rgb(248, 242, 242);
        }

    .expandRecordRecord {
        background-image: url(/images/plus.png);
        background-position-x: -22px;
        background-repeat: no-repeat;
    }

    .collapseRecordRecord {
        background-image: url(/images/plus.png);
        background-position-x: -2px;
        background-repeat: no-repeat;
    }
</style>






<div class="row" id="PregnancyList">
    <div class="text-center">
        <h4> <strong style="color:#158cba"> Pregnant Children</strong></h4>
        <div style=" display: flex;justify-content: center;">
            <table style=" align-self: center;">
                <thead style="color:#158cba">
                    <tr>
                        <th class="col-md-2">Quarter</th>
                        <th class="col-md-2">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-2" style="text-align:left;width:auto"> @Html.DropDownList("Quarter", ViewBag.Months as SelectList, new { id = "Quarterspreg", @class = "form-control" })</td>
                        <td class="col-md-2" style="text-align:left">
                            @Html.DropDownListFor(model => model.Year,
                               Enumerable.Range(DateTime.Now.Year - 10, DateTime.Now.Year - 2009).OrderByDescending(i => i).
                               Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
                                new { id = "Yearspreg", @class = "form-control" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <strong style="color:#158cba"> Summary View</strong>
        <table class="table table-striped table-bordered table-hover" id="PregnancyOverview">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">@ViewBag.MonthTitles[0]</th>
                    <th colspan="2">@ViewBag.MonthTitles[1]</th>
                    <th colspan="3">@ViewBag.MonthTitles[2]</th>

                </tr>
                <tr>
                    <th>Centres</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Male</th>
                    <th>Female</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TotalFacilityAdmissionss != null)
                {
                    foreach (Common_Objects.ViewModels.TotalFacilityAdmissions facility in Model.TotalFacilityAdmissionss)
                    {
                        <tr>
                            <th>@facility.FacilityName</th>
                            <td> @facility.MonthOne.TotalMales</td>
                            <td> @facility.MonthOne.TotalFemales</td>
                            <td> @facility.MonthTwo.TotalMales</td>
                            <td> @facility.MonthTwo.TotalFemales</td>
                            <td> @facility.MonthThree.TotalMales</td>
                            <td> @facility.MonthThree.TotalFemales</td>
                            <td> </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>
    <br /><br /><br />

    <div class="col-md-12">


        <div class="col-md-8">
            <img src="@Url.Action("PregnancyChartDisplay","ReportChart")" alt="Alternate Text" />
        </div>
        <br />
        <div class="col-md-4">
            <img src="@Url.Action("PregnancyPieChartDisplay","ReportChart")" alt="Alternate Text" />
        </div>

    </div>


    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong style="color:#158cba"> Detailed View</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="PregnancyListDetail">
                        <thead>
                            <tr>
                                <th>Province</th>
                                <th>Region</th>
                                <th>Center</th>
                                <th>Child Gender</th>
                                <th>Child Name</th>
                                <th>Age</th>
                                <th>Admission Date</th>
                                <th>Admission Reason</th>
                                <th>Pregnancy Results</th>
                                <th>Sexually Molested</th>

                            </tr>
                        </thead>
                        <tbody id="SetAdmissiontList">
                            @if (Model.PregnantChildrenReportViewModels != null)
                            {
                                foreach (Common_Objects.ViewModels.PregnantChildrenReportViewModel data in Model.PregnantChildrenReportViewModels)
                                {
                                    <tr>
                                        <td>@data.ProvinceName</td>
                                        <td>@data.RegionName</td>
                                        <td>@data.CenterName</td>
                                        <td>@data.FullName</td>
                                        <td>@data.Gender</td>
                                        <td>@data.Age</td>
                                        <td>@data.AdmissionDate</td>
                                        <td>@data.AdmissionReason</td>
                                        <td>@data.IsPregnant</td>
                                        <td>@data.IsSexuallyMolested</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div style="text-align: right">

                        @if (ViewBag.Page > 0)
                        {
                            <a id="prevPreg" class="btn btn-default">

                                &laquo; Prev
                            </a>
                        }
                        @if (ViewBag.Page < ViewBag.MaxPage)
                        {
                            <a id="nextPreg" class="btn btn-default">
                                Next &raquo;
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <script>
        var tabPreg = {
            pregnantchildren: 4
        }

        //$(document).ready(function () {
        //    var size = $("#main #gridT > thead > tr >th").size();
        //    $("#main #gridT > thead > tr >th").last().remove();
        //    $("#main #gridT > thead > tr").prepend("<th></th>");
        //    $("#main #gridT > tbody > tr").each(function (i, el) {
        //        $(this).prepend(
        //                $("<td></td>")
        //                .addClass("expandRecord")
        //                .addClass("recordHoverEffect")
        //                .attr('title', "Show Hide Details")
        //            );


        //        var table = $("table", this).parent().html();

        //        $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
        //        $("table", this).parent().remove();

        //        $(".recordHoverEffect", this).live("click", function () {
        //            $(this).parent().closest("tr").next().slideToggle(100);
        //            $(this).toggleClass("expandRecord collapseRecord");
        //        });
        //    });


        //    $("#main #gridT > tbody > tr td.expandRecord").each(function (i, el) {
        //        $(this).toggleClass("expandRecord collapseRecord");
        //        $(this).parent().closest("tr").next().slideToggle(100);
        //    });

        //});
        $(document).ready(function () {
        $("#Quarterspreg").change(function () {
            console.log("clicked quarter" + '@Model.Year');
            console.log($("#Quarterspreg").val());

            var selectedValue = $(this).find('option:selected').val();
            console.log(selectedValue + " this value");

                  console.log("next");
                 $.ajax({
                type: 'POST',
                url: '@Url.Content("~/ReportChart/ShowTab")',
                     data: {
                         type: tabPreg.pregnantchildren,
                         page: @ViewBag.Page,
                         quarter: selectedValue,
                         year: $("#Yearspreg").val()
                },
                     success: function (result) {

                         $('#PregnancyList').empty();
                         $('#PregnancyList').append(result);
                }
            });


        });
            $("#Yearspreg").change(function () {
            console.log("clicked quarter");
            var selectedValue = $(this).find('option:selected').val();
            console.log($("#Quarterspreg").val());
            console.log(selectedValue + " this value");

                        $.ajax({
                type: 'POST',
                url: '@Url.Content("~/ReportChart/ShowTab")',
                     data: {
                         type: tabPreg.pregnantchildren,
                         page: @ViewBag.Page,
                         quarter: $("#Quarterspreg").val(),
                         year: selectedValue
                },
                     success: function (result) {

                         $('#PregnancyList').empty();
                         $('#PregnancyList').append(result);
                }
            });


        });
    });

    $('#nextPreg').on('click', function (e) {


        console.log("next");
                 $.ajax({
                type: 'POST',
                url: '@Url.Content("~/ReportChart/ShowTab")',
                     data: {
                         type: tabPreg.pregnantchildren,
                         page: @ViewBag.Page + 1,
                         quarter: $("#Quarterspreg").val(),
                         year: $("#Yearspreg").val()
                },
                     success: function (result) {

                         $('#PregnancyList').empty();
                         $('#PregnancyList').append(result);
                }
            });
    });
    $('#prevPreg').on('click', function (e) {


        console.log("next");
                 $.ajax({
                type: 'POST',
                url: '@Url.Content("~/ReportChart/ShowTab")',
                     data: {
                         type: tabPreg.pregnantchildren,
                         page: @ViewBag.Page - 1,
                         quarter: $("#Quarterspreg").val(),
                         year: $("#Yearspreg").val()
                },
                     success: function (result) {

                         $('#PregnancyList').empty();
                         $('#PregnancyList').append(result);
                }
            });
    });

    </script>
