@using MvcCheckBoxList.Model
@model Common_Objects.Models.Module_Action

@{
    ViewBag.Title = "Edit Module Action";
}

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            Edit Module Action
            @Html.HiddenFor(x => x.Module_Action_Id);
        </div>
        <div class="panel-body">
            
            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Module_List, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(n => n.Module_Id, Model.Module_List, "- Please select -", new { @id = "DropdownModule", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Module_Controller_List, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(n => n.Module_Controller_Id, Model.Module_Controller_List, "- Please select -", new { @id = "DropdownController", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Module_Action_Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Module_Action_Name, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            
            <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                <div class="form-group">
                    @Html.LabelFor(x => x.Roles, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxListFor(x => x.Posted_Roles.Role_IDs,
                            x => x.Available_Roles,
                            x => x.Role_Id,
                            x => x.Description,
                            x => x.Roles.ToList(), Position.Vertical)
                    </div>
                </div>
            </div>

        </div>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="panel-footer">

            <input type="submit" id="ButtonSave" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })

        </div>

    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#DropdownModule").change(function () {
                var selectedItem = $(this).val();
                $.ajax({
                    url: "@Url.Content("~/ModuleAction/GetControllersForModule/moduleId")",
                    data: { "moduleId": selectedItem },
                    type: "GET",
                    success: function (response, status, xhr) {
                        var dropdownControllers = $('#DropdownController');
                        dropdownControllers.html('');
                        $.each(response, function (id, option) {
                            dropdownControllers.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error populating controllers dropdown');
                    }
                });
            });
        });
    </script>
}