
@model Common_Objects.ViewModels.CYCAChildAllocationViewModel
@{
    ViewBag.Title = "Child Allocation";
    Layout = null;
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/popperNew.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div>
                                    <img src="~/Images/venues.jpg" height="50" width="50"> &nbsp; &nbsp; @Html.DropDownListFor(m => m.Venue_Id, ViewBag.VenueList as SelectList, "-- select venue--", new { @id = "Venue_Id", @onChange = "selectedVenueId(this)" })
                                </div>
                            </div>
                        </div>
                        <div style="height: auto;">
                            <div class="panel panel-default">
                                <br />
                                <br />
                                <div style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="col-md-6 col-sm-6 content">
                                            <h4><b>Teams in the Venue</b></h4><br />
                                            <table class="table table-striped table-hover childgrid">
                                                <thead>
                                                </thead>
                                                <tbody id="setallocatedusers"><tr id="test"></tr></tbody>
                                            </table>
                                        </div>
                                     
                                         
                                        <div class="col-md-6 col-sm-6">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="text-center">Add Children Here</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="panel panel-back noti-box">
                                                                <span class="icon-box bg-color-brown set-icon" id="totalkids">0</span>
                                                                <div class="text-box">
                                                                    <p class="text-muted">Number of children</p>
                                                                </div>
                                                                <table class="table table-striped table-hover childgrid" id="table-draggable2">
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody id="drop" class="connectedSortable" style="min-height: 10px;">
                                                                        <tr id="child"><td>&nbsp; </td><td></td><td></td></tr>
                                                                    </tbody>
                                                                </table>
                                                                <a href="#" class="btn btn-warning" id="Save">Save</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-color-brown">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Child Details</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-4">
                        @Html.HiddenFor(m => m.Child_Allocation_Id, new { @id = "Child_Allocation_Id" })
                        @Html.HiddenFor(m => m.Movement_Id, new { @id = "id" })
                        @Html.HiddenFor(m => m.Person_Id, new { @id = "Person_Id" })
                        @Html.LabelFor(x => x.Date_Moved)
                    </div>
                    <div class="col-md-8 form-group" style="">
                        @Html.TextBoxFor(m => m.Date_Moved, new { @id = "Date_Moved", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Time_Moved)
                    </div>
                    <div class="col-md-8 form-group" style="">
                        @Html.TextBoxFor(m => m.Time_Moved, new { @id = "Time_Moved", @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Moved_By)
                    </div>
                    <div class="col-md-8 form-group" style="">
                        @Html.TextBoxFor(m => m.Moved_By, new { @id = "Moved_By", @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <a href="#" class="btn btn-default" data-dismiss="modal" id="r">Cancel</a>
                <a href="#" class="btn btn-warning" id="Send">Send</a>

            </div>

        </div>
    </div>
</div>



<script>
//-- Get Care Workers in the venue --//
    function selectedVenueId(ddlitem) {
        var selectvalue = ddlitem.value;
        $.getJSON('../../Home/GetUserVenueId?venueId=' + selectvalue,
            function (json) {
                var tr;
                $('#setallocatedusers').empty();
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    var path = "@Url.Content("~/Images/staff/staff4.jpg")";
                    tr.append("<td>" + '<img class="chat-img pull-left img-circle"  src = ' + path + ' height="50" width="50">' + "</td>");
                    tr.append("<td>" + json[i].CareWorker_Name + "</br>" + "Checked In: " + ToJavaScriptDatett(json[i].Checked_In_Date) + "</td>");
                    tr.append("<td>" +'<span class ="btn btn-circle btn-md icon-box bg-color-brown" style="line-height: 20px; font-size: 50px !important;" data-toggle="tooltip" title="Number of children">' + json[i].Person_Id +'</span>' + "</td>");                   
                    $('#setallocatedusers').append(tr);

                }
            });
    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function ToJavaScriptDatett(value) {
        if (value == null || value == '') {
            return 0;
        }
        else {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();
        }
    }

//Drag and Drop
    $(document).ready(function () {
        $("tbody.connectedSortable").sortable({
            helper: 'clone',
            revert: 'invalid',
            connectWith: ".connectedSortable",
            sort: function (event, ui) {

            }
        });

        $("tbody.connectedSortable").disableSelection();

        $("#drop").droppable({
            accept: ".connectedSortable tr",
            drop: function (event, ui) {
                console.log(ui.draggable.attr("id"));
                var totalRows = $('#drop tr').length - 1;
                $("#totalkids").text(totalRows);
                $.ajax({
                    type: "GET",
                    url: "/Home/GetChildByAllocationId?AllocationId=" + (ui.draggable.attr("id")),
                    success: function (data) {
                        console.log(data);
                        var obj = JSON.parse(data);                        
                        $("#Person_Id").val(obj.Person_Id);
                        $("#Date_Moved").val(obj.Date_Moved);
                        $("#Time_Moved").val(obj.Time_Moved);
                        $("#Moved_By").val(obj.Moved_By);                        
                    }, error: function () { alert('something bad happened'); }
                    })                                                 
                return false;
            }
        });
    });

//Add movement to database
    $("#Save").click(function () {
        console.log($('#Venue_Id').val());
        //console.log($('#Person_Id').val());
        if ($('#Venue_Id').val() != 0) {
            var children = new Array();
            // var child = {};
            $("#table-draggable2 TBODY TR").each(function () {
                var row = $(this);
                var child = {};
                console.log(row.attr('id'));
                if (row.attr('id') != null) {
                    child.Person_Id = row.attr('id');
                    child.Venue_Id = $("#Venue_Id").val();
                }
                    
                                
                children.push(child);

            });
            console.log(children);
            if (confirm('Are you sure you want to move these kids?')) {
                $.ajax({
                    type: "Post",
                    url: "/Home/MoveAllChild",
                    data:
                        JSON.stringify(children),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        alert("Success!..");
                        $('.spinner').css('display', 'block');
                        setTimeout(function () {
                            $('.spinner').hide();
                        }, 10000);

                        location.reload(true);

                        $("#myModal2Off").modal("hide");
                    },
                    error: function (xhr, ajaxOptions, error) {
                        alert(xhr.status);
                        alert('Error: ' + xhr.responseText);
                    }
                })
            }
            else {
                $('.spinner').css('display', 'block');
                setTimeout(function () {
                    $('.spinner').hide();
                }, 10000);

                location.reload(true);

                $("#myModal2Off").modal("hide");
            }


        }

        else {
            alert("Please select venue");
            setTimeout(function () {
                $('.spinner').hide();
            }, 10000);

            location.reload(true);
        }

    })



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

</script>



