@using Common_Objects.ViewModels;
@model CYCA_Module_V2.Common_Objects.CYCA_CenterManagerViewModel


<ul class="nav">
    <li class="active myTeam">
        <a onclick="ShowMyBedSpace()">
            <i class="icon-home"></i> Bed Space
        </a>
    </li>
    <li class="myReport">
        <a onclick="ShowReport()">
            <i class="icon-home"></i> Reports
        </a>
    </li>
    @*<li class="myTransfer">
            <a onclick="ShowTransfers()">
                <i class="icon-home"></i> My Transfers
                <span id="transferBadge" class="badge" style="@(Model.TransferCount==0?"display:none":"")">
                    @Model.TransferCount
                </span>
            </a>
        </li>*@
    <li class="myOrgChart">
        <a onclick="ShowOrgChart()">
            <i class="icon-home"></i> Facility Org Chart
        </a>
    </li>
    @*<li class="myBedSpace">
            <a onclick="ShowBedSpace()">
                <i class="icon-home"></i> Bed Space
            </a>
        </li>*@
    @*<li>
            @Html.ActionLink("Bed Space", "Index", "BedSpace")
        </li>*@
</ul>
@*<div id="TransferList" class="table-responsive" style="display:none">
        @if (Model.TransferCount > 0)
        {
            <table class="table table-striped  table-hover">
                <tbody>
                    <tr><td colspan="3">Transferred to me</td></tr>
                    @foreach (CYCAChildAllocationViewModel child in Model.childrenTransferToMe)
                    {
                        <tr id="@child.Transfer_Id" data-childId="@child.Person_Id">
                            <td><img class="chat-img pull-left img-circle" src="@child.ImgUrl" height="50" width="50" /></td>
                            <td>@child.Child_First_Name @child.Child_Last_First_Name transferred by @child.transferredbyName</td>
                            <td>
                                <a onclick="AcceptChild('@child.Transfer_Id')" class="btn btn-success">accept</a>
                                <a onclick="DenyChild('@child.Transfer_Id')" class="btn btn-success">deny</a>
                            </td>
                        </tr>
                    }
                    <tr><td colspan="3">Transferred by me</td></tr>
                    @foreach (CYCAChildAllocationViewModel child in Model.childrenTransferByMe)
                    {
                        <tr id="@child.Transfer_Id" data-childId="@child.Person_Id">
                            <td><img class="chat-img pull-left img-circle" src="@child.ImgUrl" height="50" width="50" /></td>
                            <td>@child.Child_First_Name @child.Child_Last_First_Name transferred to @child.transferredbyName</td>
                            <td>Pending</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                There is 0 children awaiting transfers
            </div>
        }
    </div>*@





@*<div style="max-height: 300px;  overflow-y: scroll; padding: 0 0px 0 0px">
        <div id="MyTeamList" class="table-responsive">
            @if (Model.TransferCount > 0)
            {
                <table class="table table-striped  table-hover">
                    <tbody>
                        @if (Model.childrenTransferToMe.Count() > 0)
                        {
                            <tr><td colspan="3"><strong>Transferred to me</strong></td></tr>
                        }
                        @foreach (CYCAChildAllocationViewModel child in Model.childrenTransferToMe)
                        {
                            <tr id="@child.Transfer_Id" data-childId="@child.Person_Id">
                                <td><img class="chat-img pull-left img-circle" src="@child.ImgUrl" height="50" width="50" /></td>
                                <td>@child.Child_First_Name @child.Child_Last_First_Name transferred by @child.transferredbyName</td>
                                <td>
                                    <a onclick="AcceptChild('@child.Transfer_Id')" class="btn btn-success">accept</a>
                                    <a onclick="DenyChild('@child.Transfer_Id')" class="btn btn-success">deny</a>
                                </td>
                            </tr>
                        }
                        @if (Model.childrenTransferByMe.Count() > 0)
                        {
                            <tr><td colspan="3"><strong>Transferred by me</strong></td></tr>
                        }
                        @foreach (CYCAChildAllocationViewModel child in Model.childrenTransferByMe)
                        {
                            <tr id="@child.Transfer_Id" data-childId="@child.Person_Id">
                                <td><img class="chat-img pull-left img-circle" src="@child.ImgUrl" height="50" width="50" /></td>
                                <td>@child.Child_First_Name @child.Child_Last_First_Name transferred to @child.transferredbyName</td>
                                <td>Pending</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.children.Count() == 0)
            {
                <div class="alert alert-info" role="alert">
                    You currently have 0 children assigned to you
                </div>
            }
            <table class="table table-striped  table-hover" id="dataTableChildren">
                <tbody id="setallocatedchildren" class="connectedSortable">
                    <tr id="ignore">
                        <td colspan="3"></td>
                    </tr>
                    @foreach (CYCAChildAllocationViewModel child in Model.children)
                    {
                        <tr id="@child.Child_Allocation_Id" data-childId="@child.Person_Id" class="draggable">
                            <td><img class="chat-img pull-left img-circle" src="@child.ImgUrl" height="50" width="50" /></td>
                            <td>
                                @child.Child_First_Name @child.Child_Last_First_Name<br />
                                @child.GangMembership
                            </td>
                            <td>@Html.ActionLink("view", "Index", "Client", new { id = child.Person_Id }, new { @class = "btn btn-success viewChild" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@






<script>
    @*var inboxCount = @Model.InboxCount;*@
    var transferCount = @Model.TransferCount;
    function UpdateTransferCount(num) {
        transferCount = transferCount + num;
        $('#transferBadge').show();
        $('#transferBadge').html(transferCount);
    }
    function ShowMyBedSpace() {
        $('#rootwizard').show();
        $('#reports').hide();
        $('#orgchart').hide();
        //$('#RoleRightContent').hide();
        $('#RoleRightContent').show();       
        $(".myReport").removeClass("active");
        $(".myOrgChart").removeClass("active");
        //Refresh right tab
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Home/ShowRightContent")',
            data: {
                type: defaultRole
            },
            success: function (result) {
                $('#RoleRightContent').html(result);
                // ShowDynamicForm();
            }
        });
    }
    function ShowTransfers() {
        $('#rootwizard').show();
        $('#reports').hide();
        $('#orgchart').hide();
        $('#RoleRightContent').hide();
        //$('#RoleRightContent').show();
       // $('#TransferList').show();
        $('#MyTeamList').hide();

        $('#InboxList').hide();
        //Class
        //$(".myTransfer").addClass("active");
        $(".myTeam").removeClass("active");
        $(".myReport").removeClass("active");
        $(".myOrgChart").removeClass("active");
    }
    function AcceptChild(id) {
        $.ajax({
            type: "POST",
            url: "/Home/UpdateTransferandAllocationInDatabase",
            data: JSON.stringify({ 'Transfer_Id': id, 'selectedTransferStatus': 'Accept' }),
            contentType: "application/json; charset=utf-8",
            success: function (r) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Home/ShowLeftContent")',
                    data: {
                        type: defaultRole
                    },
                    success: function (result) {
                        $('.profile-usermenu').html(result);
                        // ShowDynamicForm();
                    }
                });
            },
            error: function (xhr, ajaxOptions, error) {
                alert(xhr.status);
                alert('Error: ' + xhr.responseText);
            }
        });
    }
    function DenyChild(id) {
        $.ajax({
            type: "POST",
            url: "/Home/UpdateTransferandAllocationInDatabase",
            data: JSON.stringify({ 'Transfer_Id': id, 'selectedTransferStatus': 'Reject' }),
            contentType: "application/json; charset=utf-8",
            success: function (r) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Home/ShowLeftContent")',
                    data: {
                        type: defaultRole
                    },
                    success: function (result) {
                        $('.profile-usermenu').html(result);
                        // ShowDynamicForm();
                    }
                });
            },
            error: function (xhr, ajaxOptions, error) {
                alert(xhr.status);
                alert('Error: ' + xhr.responseText);
            }
        });
    };


    @*function ShowBedSpace() {
        $('#rootwizard').hide();
        $('#bedSpace').load('@Url.Action("ProvCoordinator", "BedSpace")');
        $('#bedSpace').show();
        $('#RoleRightContent').show();
        $(".myTransfer").removeClass("active");
        $(".myTeam").removeClass("active");
        $(".myOrgChart").removeClass("active");
        $(".myBedSpace").addClass("active");
        $('#MyTeamList').hide();
        $('#TransferList').hide();
        $('#orgchart').hide();
    };*@



    function ShowOrgChart() {
        $('#rootwizard').hide();
        $('#reports').hide();
        $('#orgchart').load('@Url.Action("OrgChart","OrgChart")');
        $('#orgchart').show();
        $('#RoleRightContent').show();
        $(".myTransfer").removeClass("active");
        $(".myTeam").removeClass("active"); 
        $(".myReport").removeClass("active");
        $(".myOrgChart").addClass("active");
        $('#MyTeamList').hide();
        $('#TransferList').hide();
    };

    function ShowReport() {
        $('#rootwizard').hide();
        $('#orgchart').hide();
        $('#reports').load('@Url.Action("Index", "Reports")');
        $('#reports').show();
        $('#RoleRightContent').show();
        $(".myTransfer").removeClass("active");
        $(".myTeam").removeClass("active"); 
        $(".myOrgChart").removeClass("active");
        $(".myReport").addClass("active");           
        $('#MyTeamList').hide();
        $('#TransferList').hide();
    };

    $(document).ready(function () {
        leftLoaded = true;
        if (rightLoaded) {
            console.log('left');
            SetupDragAndDropCenterManager();
        }
    });
</script>

