@model Common_Objects.Models.LookupDataItem

@{
    ViewBag.Title = "Edit Lookup Data Item";
}

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            Edit Menu Item
            @Html.HiddenFor(x => x.LookupTableTypeId)
            @Html.HiddenFor(x => x.ItemId);
        </div>
        <div class="panel-body">
            
                <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Source, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Definition, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Definition, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="panel-footer">

            <input type="submit" id="ButtonSave" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })

        </div>

    </div>
}
